.highland-navbar {
    background-color: #e1e1e1;
    font-weight: bold;
    font-size: 20px;
}

    .highland-navbar a {
        color: #111;
        font-weight: bold;
        font-size: 20px;
    }

.copyright-text {
    text-align: center;
    background-color: #e1e1e1;
}

.highland-carousel-inner {
    max-height: 550px;
    width: 75%;
    margin: auto;
}

.highland-footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    padding-bottom: 5px;
    width: 100%;
    height: 90px;
    background-color: #e1e1e1;
}

.highland-footer-text {
    text-align: center;
    color: black;
}

.highland-footer-content {
    padding-top: 25px;
}

.highland-page-content {
    margin-bottom: 25px;
}

.highland-content-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.jumbotron.highland-jumbotron {
    padding-bottom: 15px;
    background-color: #4396DC;
    clear: both;
    margin-top: 60px;
    padding-top: 15px;
}

.highland-facebook-logo{
    max-height: 40px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 90px;
}
